<div class="user_details_wrapper">
  <div *ngIf="user" class="user_details">
    <h2>{{ user.name }}</h2>
    <div>
      <strong>Username:</strong> {{ user.username  }}
    </div>
    <div>
      <strong>Email:</strong> {{ user.email  }}
    </div>
    <div>
      <strong>Phone:</strong> {{ user.phone  }}
    </div>
    <div>
      <strong>Website:</strong> {{ user.website  }}
    </div>
    <div>
      <strong>Address:</strong>
      {{ user.address.street  }}, {{ user.address.suite  }}, {{ user.address.city  }} - {{ user.address.zipcode  }}
    </div>
    <div>
      <strong>Company:</strong> {{ user.company.name  }}
    </div>
    <div class="btn_wrapper">
      <app-button (click)="goToUserPosts()">პოსტები</app-button>
    </div>
</div>

</div>


  